@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
* {
  font-family: "Source Code Pro", monospace;
}

body {
	margin: 0 !important;
	background-color: #1e1e1e;
	color: white;
}

/**
 *
 * Navbar
 *
 */
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #393939;
	color: white;
	border-bottom: 1px solid #5e5e5e;
	a {
		text-decoration: none;
		color: unset;
		.title {
			padding: 1rem;
			&:hover {
				background-color: #008C27 !important;
			}
		}
	}
	.links {
		&.desktop, &.tablet {
			display: flex;
			flex-direction: row;
			@media (max-width: 750px) {
				display: none;
			}
		}
		a {
			padding: 1rem;
			&:hover {
				background-color: #008C27;
			}
			&.external:hover {
				background-color: #004CDF;
			}
		}
	}
}

/**
 * 
 * Content
 *
 */
.content {
	max-width: 800px;
	margin-inline: auto;
	padding-inline: 2rem;
	h1, h2 {
		text-align: center;
	}
}

/**
 * 
 * Home
 *
 */
.home {
	a {
		&.getStarted {
			display: block;
			width: fit-content;
			text-decoration: none;
			margin-inline: auto;
			text-transform: uppercase;
			padding: 1rem 1.5rem;
			background-color: #008C27;
			cursor: pointer;
			&.hover {
				background-color: #006b1e;
			}
		}
	}
}

/**
 *
 * Add A Show
 *
 */
.addAShow {
	.container {
		max-width: 800px;
		background-color: #313131;
		padding: 2rem;
		overflow: hidden;
		gap: 2rem;
		display: flex;
		flex-direction: column;
	}
	.viewOne {
		.top {
			display: grid;
			grid-template-columns: 3fr 10rem;
			gap: 1rem;
			margin-bottom: 2rem;
			@media (max-width: 550px) {
				grid-template-columns: 1fr;
			}
		}
		.wrapper {
			display: grid;
			gap: 1rem;
			margin-bottom: 2rem;
			overflow: scroll;
			max-height: 30rem;
		}
	}
	.viewTwo {
		.top {
			display: flex;
			flex-direction: column;
			text-align: center;
			gap: 1rem;
		}
		.wrapper {
			display: grid;
			gap: 1rem;
			overflow: scroll;
			max-height: 30rem;
			background-color: #272727;
			justify-content: center;
			padding: 1rem;
			.seasonAndEpCount {
				display: flex;
				gap: 2rem;
			}
		}
		.buttons {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-content: center;
			gap: 1rem;
		}
	}
}




.addAShow .viewTwo .buttons button {
  color: white;
  background-color: #5e5e5e;
  border: 0;
  cursor: pointer;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 450px) {
  .addAShow .viewTwo .buttons {
    grid-template-columns: 1fr;
  }
}
.addAShow .viewTwo .buttons button.new {
  background-color: #008C27;
}
.addAShow .viewTwo .buttons button.new:hover {
  background-color: #006b1e;
}
.addAShow .viewTwo .buttons button.edit {
  background-color: #004CDF;
}
.addAShow .viewTwo .buttons button.edit:hover {
  background-color: #0038a7;
}
.addAShow .seasons {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 2rem;
  align-items: center;
  background-color: #272727;
  overflow: hidden;
}
@media only screen and (max-width: 550px) {
  .addAShow .seasons {
    grid-template-columns: 1fr;
  }
  .addAShow .seasons .left {
    font-weight: 900;
    text-align: center;
  }
}
/* static */
.addAShow .seasons .right.static {
  display: grid;
  grid-template-columns: 1fr 8rem;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 450px) {
  .addAShow .seasons .right.static {
    grid-template-columns: 1fr;
  }
}
.addAShow .seasons .right.static button {
  background-color: #004CDF;
  color: white;
  padding: 1rem;
  border: 0;
  cursor: pointer;
}
.addAShow .seasons .right.static button:hover {
  background-color: #0038a7;
}
/* edit */
.addAShow .seasons .right.edit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.addAShow .seasons .right.edit .seasonEpisodes {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .addAShow .seasons .right.edit .seasonEpisodes {
    grid-template-columns: 1fr;
  }
}
.addAShow .seasons .right.edit .seasonEpisodes input {
  padding: 1rem;
  background: #313131;
  border: 0;
  color: white;
}
.addAShow .seasons .right.edit .addEpisodesButton {
  background-color: #008C27;
  color: white;
  border: 0;
  cursor: pointer;
  display: block;
  margin-inline: auto;
  padding: 1rem 2rem;
}
.addAShow .seasons .right.edit .addEpisodesButton:hover {
  background-color: #006b1e;
}
.addAShow #seriesNameInput {
  background-color: transparent;
  border: 1px dashed #A4A4A4;
  color: white;
  padding: 1rem;
}
.addAShow #saveSeriesButton {
  color: white;
  background-color: #008C27;
  border: 0;
  cursor: pointer;
  padding: 1rem;
}
.addAShow #saveSeriesButton:hover {
  background-color: #006b1e;
}
.addAShow #addASeasonButton {
  display: block;
  margin-inline: auto;
  color: white;
  background-color: #008C27;
  border: 0;
  cursor: pointer;
  padding: 1rem;
  min-width: 200px;
}
.addAShow #addASeasonButton:hover {
  background-color: #006b1e;
}

/**
 *
 * Watch A Show
 *
 */
.watchAShow .wrapper {
  background-color: #313131;
  padding: 1rem;
  overflow: hidden;
  max-width: 800px;
  margin: auto;
  display: grid;
  gap: 1rem;
}
/* view one */
.watchAShow .wrapper.viewOne .series {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}
.watchAShow .wrapper.viewOne .series:hover {
  background-color: #272727;
}
.watchAShow .wrapper.viewOne .series button {
  padding: 1rem 2rem;
  color: white;
  background-color: #008C27;
  border: 0;
  cursor: pointer;
}
.watchAShow .wrapper.viewOne .series button:hover {
  background-color: #006b1e;
}
.watchAShow .wrapper.viewOne .series span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
/* view two */
.watchAShow .wrapper.viewTwo .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.watchAShow .wrapper.viewTwo .top .editButton {
  background-color: #004CDF;
  color: white;
  padding: 1rem;
  border: 0;
  cursor: pointer;
}
.watchAShow .wrapper.viewTwo .top .editButton:hover {
  background-color: #0038a7;
}
.watchAShow .wrapper.viewTwo .seasonsAndEps {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.watchAShow .wrapper.viewTwo .seasonsAndEps .season {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 1rem;
  background-color: #272727;
  padding: 1rem;
}
@media only screen and (max-width: 700px) {
  .watchAShow .wrapper.viewTwo .seasonsAndEps .season {
    grid-template-columns: 1fr;
  }
}
.watchAShow .wrapper.viewTwo .seasonsAndEps .season .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.watchAShow .wrapper.viewTwo .seasonsAndEps .season .left .note {
  font-size: 12px;
  color: #7b7b7b;
}
.watchAShow .wrapper.viewTwo .seasonsAndEps .season .right {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media only screen and (max-width: 500px) {
  .watchAShow .wrapper.viewTwo .seasonsAndEps .season .right {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 350px) {
  .watchAShow .wrapper.viewTwo .seasonsAndEps .season .right {
    grid-template-columns: 1fr 1fr;
  }
}
.watchAShow .wrapper.viewTwo .seasonsAndEps .season .right button {
  background-color: transparent;
  color: #7b7b7b;
  border: 0;
  cursor: pointer;
  padding: 1rem;
}
.watchAShow .wrapper.viewTwo .seasonsAndEps .season .right button:hover {
  background-color: black;
}
.watchAShow .wrapper.viewTwo .seasonsAndEps .season .right .watched {
  color: #00c638;
}