@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
* {
  font-family: "Source Code Pro", monospace;
}

body {
	margin: 0 !important;
	background-color: #1e1e1e;
	color: white;
}

/**
 *
 * Navbar
 *
 */
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #393939;
	color: white;
	border-bottom: 1px solid #5e5e5e;
	a {
		text-decoration: none;
		color: unset;
		&.title {
			padding: 1rem;
			&:hover {
				background-color: #008C27 !important;
			}
		}
	}
	.links {
		&.desktop, &.tablet {
			display: flex;
			flex-direction: row;
			@media (max-width: 750px) {
				display: none;
			}
		}
		a {
			padding: 1rem;
			&:hover {
				background-color: #008C27;
			}
			&.external:hover {
				background-color: #004CDF;
			}
		}
	}
}

/**
 * 
 * Content
 *
 */
.content {
	max-width: 800px;
	margin-inline: auto;
	padding-inline: 2rem;
	h1, h2 {
		text-align: center;
	}
}

/**
 * 
 * Home
 *
 */
.home {
	a {
		&.getStarted {
			display: block;
			width: fit-content;
			text-decoration: none;
			margin-inline: auto;
			text-transform: uppercase;
			padding: 1rem 1.5rem;
			background-color: #008C27;
			color: white;
			cursor: pointer;
			&:hover {
				background-color: #006b1e;
			}
		}
	}
}

/**
 *
 * Add A Show
 *
 */
.addAShow {
	.container {
		max-width: 800px;
		background-color: #313131;
		padding: 2rem;
		overflow: hidden;
		gap: 2rem;
		display: flex;
		flex-direction: column;
	}
	.viewOne {
		.top {
			display: grid;
			grid-template-columns: 3fr 10rem;
			gap: 1rem;
			@media (max-width: 550px) {
				grid-template-columns: 1fr;
			}
			#saveSeriesNameButton {
				color: white;
				background-color: #008C27;
				border: 0;
				cursor: pointer;
				padding: 1rem;
				&:hover {
					background-color: #006b1e;
				}
			}
		}
		.wrapper {
			display: grid;
			gap: 1rem;
			overflow: scroll;
			max-height: 35vh;
			background-color: #000;
			padding: 1rem;
		}
		#addASeasonButton {
			color: white;
			background-color: #008C27;
			border: 0;
			cursor: pointer;
			padding: 1rem;
			min-width: 200px;
			&:hover {
				background-color: #006b1e;
			}
		}
		.buttons {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			@media (max-width: 550px) {
				flex-direction: column;
				gap: 1rem;
			}

			#saveSeriesButton {
				color: white;
				background-color: #008C27;
				border: 0;
				cursor: pointer;
				padding: 1rem;
				min-width: 200px;
				&:hover {
					background-color: #006b1e;
				}
			}
		}
	}
	.viewTwo {
		.top {
			display: flex;
			flex-direction: column;
			text-align: center;
			gap: 1rem;
		}
		.wrapper {
			display: grid;
			gap: 1rem;
			overflow: scroll;
			max-height: 30rem;
			background-color: #272727;
			justify-content: center;
			padding: 1rem;
			.seasonAndEpCount {
				display: flex;
				gap: 2rem;
			}
		}
		.buttons {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-content: center;
			gap: 1rem;
			@media (max-width: 450px) {
				grid-template-columns: 1fr;
			}
			button {
				color: white;
				background-color: #5e5e5e;
				border: 0;
				cursor: pointer;
				padding: 1rem 2rem;
				&.new {
					background-color: #008C27;
					&:hover {
						background-color: #006b1e;
					}
				}
				&.edit {
					background-color: #004CDF;
					&:hover {
						background-color: #0038a7;
					}
				}
			}
		}
	}
	.seasons {
		padding: 1rem 2rem;
		display: grid;
		grid-template-columns: 6rem 1fr;
		gap: 2rem;
		align-items: center;
		background-color: #272727;
		overflow: hidden;
		@media (max-width: 550px) {
			grid-template-columns: 1fr;
		}
		.left {
			@media (max-width: 550px) {
				font-weight: 900;
				text-align: center;
			}
		}
		.right {
			&.static {
				display: grid;
				grid-template-columns: 1fr 8rem;
				align-items: center;
				gap: 1rem;
				@media (max-width: 450px) {
					grid-template-columns: 1fr;
				}
				button {
					background-color: #004CDF;
					color: white;
					padding: 1rem;
					border: 0;
					cursor: pointer;
					&:hover {
						background-color: #0038a7;
					}
				}
			}
			&.edit {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				.seasonEpisodes {
					display: grid;
					grid-template-columns: 2fr 1fr;
					gap: 1rem;
					align-items: center;
					@media (max-width: 700px) {
						grid-template-columns: 1fr;
					}
					input {
						padding: 1rem;
						background: #000;
						border: 0;
						color: white;
					}
				}
				.addEpisodesButton {
					background-color: #008C27;
					color: white;
					border: 0;
					cursor: pointer;
					display: block;
					margin-inline: auto;
					padding: 1rem 2rem;
					&:hover {
						background-color: #006b1e;
					}
				}
			}
		}
	}
	#seriesNameInput {
		background-color: transparent;
		border: 1px dashed #A4A4A4;
		color: white;
		padding: 1rem;
	}
}

/**
 *
 * Watch A Show
 *
 */
.watchAShow {
	.wrapper {
		background-color: #313131;
		padding: 1rem;
		overflow: hidden;
		max-width: 800px;
		margin: auto;
		display: grid;
		gap: 1rem;
		&.viewOne {
			.series {
				display: flex;
				align-items: center;
				gap: 10px;
				width: 100%;
				overflow: hidden;
				&:hover {
					background-color: #272727;
				}
				button {
					padding: 1rem 2rem;
					color: white;
					background-color: #008C27;
					border: 0;
					cursor: pointer;
					&:hover {
						background-color: #006b1e;
					}
				}
				span {
					display: block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;
				}
			}
		}
		&.viewTwo {
			.top {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				.editButton {
					background-color: #004CDF;
					color: white;
					padding: 1rem;
					border: 0;
					cursor: pointer;
					&:hover {
						background-color: #0038a7;
					}
				}
			}
			.seasonsAndEps {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				max-height: 35vh;
				overflow: scroll;
				.season {
					display: grid;
					grid-template-columns: 150px 1fr;
					gap: 1rem;
					background-color: #272727;
					padding: 1rem;
					@media (max-width: 700px) {
						grid-template-columns: 1fr;
					}
					.left {
						display: flex;
						flex-direction: column;
						gap: 1rem;
						.note {
							font-size: 12px;
							color: #7b7b7b;
						}
					}
					.right {
						display: grid;
						grid-template-columns: repeat(5, 1fr);
						@media (max-width: 500px) {
							grid-template-columns: repeat(3, 1fr);
						}
						@media (max-width: 530px) {
							grid-template-columns: 1fr 1fr;
						}
						button {
							background-color: transparent;
							color: #7b7b7b;
							border: 0;
							cursor: pointer;
							padding: 1rem;
							&:hover {
								background-color: #000;
							}
						}
						.watched {
							color: #00c638;
						}
					}
				}
			}
			.buttons {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				@media (max-width: 550px) {
					flex-direction: column;
					gap: 1rem;
				} 
				button {
					color: white;
					background-color: #008C27;
					border: 0;
					cursor: pointer;
					padding: 1rem;
					min-width: 200px;
					&:hover {
						background-color: #006b1e;
					}
				}
			}
		}
	}
}